h1 {
    text-align: center;
    font-size: 80px;
}

html,
body {
    background-image: linear-gradient(to bottom, #b7b5ff, #eabcdc, #ffd2f2);
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: 5px 10px 10px #888888;
}

h2 {
    font-size: 40px;
    text-align: center;

}
h2 #left {
    text-align: left;

}
h3 {
    font-size: 30px;
    margin-left: 10%;
    margin-right:10%;
    line-height: 2em;
    text-align: left;
}


button {
    height:400px;
    width:400px;
    border-radius: 15%;
    border: black;
    box-shadow: 5px 10px 10px #888888;

}
#relaxed {
    font-size: 60px;
    background-image: linear-gradient(to bottom,#74C5FF, #7272FF, #D797FF);
    margin-left:8%;
    margin-right: 50px;
    color: white;
    text-shadow: 5px 5px 5px #888888;
}
#creative {
    font-size: 60px;
    background-image: linear-gradient(to bottom, rgb(255, 117, 237),rgb(255, 230, 117), rgb(140, 255, 125), rgb(147, 181, 255));
    color: white;
    text-shadow: 5px 5px 5px #888888;

}


footer {
    position: absolute;
    border-top: 5px solid rgb(255, 255, 255);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    /* background-color: pink; */
    bottom: 15px;
    height: 115px;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

footer a {
    display: block;
    text-decoration: none;
    color: white;
    float: left;
    width: 25%;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}